.song-details {
  padding: 0 3rem;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    height: 20rem;
    width: 20rem;
  }

  .song-info-footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.music-info {
  display: flex;
  justify-content: space-around;
}
