<span class="p-input-icon-left">
  <i class="pi pi-search"></i>
  <input
    type="text"
    pInputText
    placeholder="Search for song"
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchForSong()"
  />
</span>

<div class="song-list" *ngFor="let song of songSearchResults">
  <!-- <p>{{ searchTerm }}</p> -->
  <div class="song-info">
    <img src="{{ song.albumCover }}" alt="{{ song.title }} album cover" />
    <div class="song-details">
      <h2>{{ song.title }}</h2>
      <p>{{ song.artists | artist }}</p>
    </div>
  </div>
</div>
